<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing</title>
</head>
<body>
    <h1>Example landing page</h1>
    {% include 'shared.html' %}
    {% if request.user.is_authenticated %}
        <span>Logged as: {{ request.user.username }} - {{ request.user.email}}</span>
        <br>
        {% load static %}
        <img src="{% static 'images/avatar.png' %}" width="200" height="200">
    {% else %}
        <span>You are not logged in!</span>
    {% endif %}
    <ul>
        <li><a href="{% url 'account_login' %}">Log in</a></li>
        <li>
            <a href="{% url 'account_signup' %}">Sign up</a>
            <strong>Remember to provide company email for user verification</strong>
        </li>
        <li><a href="{% url 'account_logout' %}">Log out</a></li>
    </ul>
    <h2>Test caching behavior</h2>
    <a href="{% url 'cached' %}">Go to cached clock</a>
</body>
</html>